@font-face {
    font-family: zhang;
    src: url("zhang.ttf");
}

* {
    font-family: zhang;
}

.stage {
    position: relative;
    width: 1920px;
    heigth: 1080px;
    margin: 0 auto;
}

.panel {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1920px;
    height: 198px;
    top: 850px;
    left: 0;
}

.avatar {
    position: absolute;
    top: 0px;
    left: 100px;
}

.status_bar {
    position: absolute;
    top: 0px;
    left: 320px;
    width: 400px;
    height: 198px;
    text-align: center;
    /*flex:1;*/
    display: flex;
}

.fight {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 374px;
    height: 265px;
    top: -35px;
    left: 773px;
    /*flex:1;*/

}

.absoluteImg {
    position: absolute;
    z-index: -1;
}

.history {
    position: absolute;
    top: 0px;
    left: 1200px;
    /*flex:1*/

}

.level {
    position: absolute;
    top: 0px;
    left: 1200px;
    width: 400px;
    height: 198px;
    text-align: center;
    /* flex: 1; */
    display: flex;
    /*flex:1*/
}

.rank_button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 201px;
    height: 198px;

    position: absolute;
    top: 0px;
    right: 100px;
    /*flex:1;*/
}

.rank_panel_left {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 386px;
    height: 815px;
    position: absolute;
    left: 0;
}

.rank_panel_right {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 386px;
    height: 815px;
    position: absolute;
    right: 0;
}

.rank_item_bg {
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-left: 20px;
    width: 336px;
    height: 65px;
}

.rank_item_text {
    line-height: 2em;
    font-size: 2em;
}

.rank_head_text {
    font-size: 2em;
}

.level_panel {
    position: absolute;
    top: 0;
    left: 237px;
    width: 1445px;
    height: 815px;
}
.power_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buy_power_box{
    height: 336px;
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.buy_power_change{
    color: white;
    width: 208px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    text-align: center;
    font-size: 65px;
}
.buy_power_num{
    width: 208px;
    height: 300px;
    font-size: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.power_button{
    color: white;
    width: 65px;
    height: 336px;
    font-size: 65px;
    padding-top: 30px;
}
.power_button_hint{
    color: white;
    width: 40px;
    height: 336px;
    font-size: 40px;
    padding-top: 30px;
}
.power_button:hover{
    color: brown;
}
.training_input{
    color: brown;
    text-align: center;
    font-size: 65px;
    padding-top: 30px;
}
.actor {

}

.actorImg {
}

#sun {
    position: absolute;
    top: 200px;
    left: 1090px;
}

#start_button {
    position: absolute;
    top: 500px;
    left: 1090px;
}

#tang {
    position: absolute;
    top: 250px;
    left: 600px;
}

.bg {
    position: absolute;
    display: block;
    width: 1920px;
    heigth: 1080px;
    top: 0;
    left: 0;
}

.bgImg {
    position: absolute;
    width: 1920px;
    heigth: 1080px;
    z-index: -2;
}

.hide {
    display: none;
}

.bgDiv {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    background: antiquewhite;
    z-index: -1;
    overflow: hidden;
}

.avatarBg {
    position: absolute;
    z-index: 0;

}

.avatarImg {
    position: absolute;
    z-index: 0;
}

.avatarFg {
    position: absolute;
    z-index: 0;

}

.status_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.status_item_history{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.white {
    color: white;
}

.panel_bg {
    position: absolute;
    opacity: 1;
    z-index: -1;
}

.level_bg {
    position: absolute;
    width: 1077px;
    height: 600px;
    z-index: -1;
}

.rank_bg {
    position: absolute;
    z-index: -1;
}

.bgAni {
    position: absolute;
    height: 1080px;
    z-index: -3;
    animation: linear 60s infinite bgAnimation;
}

span {
    text-align: center;
    font-size: 3em;
    color: white;
    margin: 0;
}

span:hover{
    color: brown;
    font-size: 3.5em;
}

.showStyle {
}

.hideStyle {
    display: none;
}

.level_item_bg{
    width: 451px;
    height: 331px;
    overflow: hidden;
    float: left;
}
.level_item_button{
    padding-right: 70px;
    padding-top: 30px;
    float: right;
}
.level_item_box{
    padding-top: 40px;
    width: 1445px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 40px;
}

.training_box{
    display: flex;
    flex-direction: column;
}
.Yes{
    font-size: 5em;
}
.YesBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 374px;
    height: 265px;
    bottom: 0;
    left: 6px;

}
.modal_container{
    display: flex;
    flex-direction: column;
}
.pass_seal{
    position: relative;
    z-index:5;
    top: 180px;
    left: 180px;
}

@keyframes bgAnimation {
    0% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -17832px;
        top: 0px;
    }
}
